body {
  margin: 10px;
}

p {
  margin: 0;
}


#mainContainer {

  .group {
    display: inline-block;
    min-width: 250px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;

    p.name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    div.teams {
      p.team {
        margin: 5px 0;

        img.flag {
          max-width: 32px;
        }
        span.team_name {
          vertical-align: text-top;
          font-size: 0.8em;
        }
      }
    } // end div.teams
  } // end .group

} // end #mainContainer

#log {
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
}
