body {
  margin: 10px;
}

p {
  margin: 0;
}

#mainContainer {

  div.group {
    display: inline-block;
    vertical-align: top;
    min-width: 250px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;

    p.name {
      font-weight: bold;
      margin-bottom: 5px;
      padding: 5px;
      background-color: #ccc;
    }

    div.teams {
      margin-bottom: 10px;

      p.team {
        margin: 5px 0;

        img.flag {
          max-width: 32px;
        }
        span.team_name {
          vertical-align: top;
          font-size: 0.9em;
          text-transform: uppercase;
        }
      }
    } // end div.teams

    div.fixtures {

      p.fixturesLabel {
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 5px;
        cursor: pointer;

        span.expandLabel {
          display: inline;
        }

        span.contractLabel {
          display: none;
        }
      }

      p.fixture {
        display: none;
      }

      &.open {

        p.fixturesLabel {

          span.expandLabel {
            display: none;
          }

          span.contractLabel {
            display: inline;
          }
        }

        p.fixture {
          display: block;
        }
      }
    } // end div.fixtures

  } // end div.group

} // end #mainContainer
